{% load static %}
{% load menu_tags %}

<!DOCTYPE html>
<html lang="id">
	<head>
		<meta charset="utf-8">
		<title> {{ title }} - [Dashboard] </title>

		{% include 'backend/smart-admin-2/snippets/style.html' %}

        {% block extra_head %}{% endblock %}  
	</head>

	<!--

	TABLE OF CONTENTS.
	
	Use search to find needed section.
	
	===================================================================
	
	|  01. #CSS Links                |  all CSS links and file paths  |
	|  02. #FAVICONS                 |  Favicon links and file paths  |
	|  03. #GOOGLE FONT              |  Google font link              |
	|  04. #APP SCREEN / ICONS       |  app icons, screen backdrops   |
	|  05. #BODY                     |  body tag                      |
	|  06. #HEADER                   |  header tag                    |
	|  07. #PROJECTS                 |  project lists                 |
	|  08. #TOGGLE LAYOUT BUTTONS    |  layout buttons and actions    |
	|  09. #MOBILE                   |  mobile view dropdown          |
	|  10. #SEARCH                   |  search field                  |
	|  11. #NAVIGATION               |  left panel & navigation       |
	|  12. #MAIN PANEL               |  main panel                    |
	|  13. #MAIN CONTENT             |  content holder                |
	|  14. #PAGE FOOTER              |  page footer                   |
	|  15. #SHORTCUT AREA            |  dropdown shortcuts area       |
	|  16. #PLUGINS                  |  all scripts and plugins       |
	
	===================================================================
	
	-->
	
	<!-- #BODY -->
	<!-- Possible Classes

		* 'smart-style-{SKIN#}'
		* 'smart-rtl'         - Switch theme mode to RTL
		* 'menu-on-top'       - Switch to top navigation (no DOM change required)
		* 'no-menu'			  - Hides the menu completely
		* 'hidden-menu'       - Hides the main menu but still accessable by hovering over left edge
		* 'fixed-header'      - Fixes the header
		* 'fixed-navigation'  - Fixes the main menu
		* 'fixed-ribbon'      - Fixes breadcrumb
		* 'fixed-page-footer' - Fixes footer
		* 'container'         - boxed layout mode (non-responsive: will not work with fixed-navigation & fixed-ribbon)
	-->
	<body class="desktop-detected  fixed-header  pace-done smart-style-3">                        

		<!-- #HEADER -->
        {% block header %}{% endblock %}
		<!-- END HEADER -->

		<!-- #NAVIGATION -->
		<!-- Left panel : Navigation area -->
		<!-- Note: This width of the aside area can be adjusted through LESS variables -->
        {% block left-panel %}{% endblock %}
        
		<!-- END NAVIGATION -->

		<!-- MAIN PANEL -->
		<div id="main" role="main">
            
			<!-- RIBBON -->
            {% block breadcrumb %}{% endblock %}
			<!-- END RIBBON -->					

			<!-- MAIN CONTENT -->
			{% block content %}{% endblock %}
			<!-- END MAIN CONTENT -->

		</div>
		<!-- END MAIN PANEL -->
        
		<!-- PAGE FOOTER -->
		{% block footer %}{% endblock %}
		<!-- END PAGE FOOTER -->

		<!-- SHORTCUT AREA : With large tiles (activated via clicking user name tag)
		Note: These tiles are completely responsive,
		you can add as many as you like
		-->
		<!-- <div id="shortcut">
			<ul>
				<li>
					<a href="inbox.html" class="jarvismetro-tile big-cubes bg-color-blue"> <span class="iconbox"> <i class="fa fa-envelope fa-4x"></i> <span>Mail <span class="label pull-right bg-color-darken">14</span></span> </span> </a>
				</li>
				<li>
					<a href="calendar.html" class="jarvismetro-tile big-cubes bg-color-orangeDark"> <span class="iconbox"> <i class="fa fa-calendar fa-4x"></i> <span>Calendar</span> </span> </a>
				</li>
				<li>
					<a href="gmap-xml.html" class="jarvismetro-tile big-cubes bg-color-purple"> <span class="iconbox"> <i class="fa fa-map-marker fa-4x"></i> <span>Maps</span> </span> </a>
				</li>
				<li>
					<a href="invoice.html" class="jarvismetro-tile big-cubes bg-color-blueDark"> <span class="iconbox"> <i class="fa fa-book fa-4x"></i> <span>Invoice <span class="label pull-right bg-color-darken">99</span></span> </span> </a>
				</li>
				<li>
					<a href="gallery.html" class="jarvismetro-tile big-cubes bg-color-greenLight"> <span class="iconbox"> <i class="fa fa-picture-o fa-4x"></i> <span>Gallery </span> </span> </a>
				</li>
				<li>
					<a href="profile.html" class="jarvismetro-tile big-cubes selected bg-color-pinkDark"> <span class="iconbox"> <i class="fa fa-user fa-4x"></i> <span>My Profile </span> </span> </a>
				</li>
			</ul>
		</div> -->
		<!-- END SHORTCUT AREA -->

		<!--================================================== -->
        {% include 'backend/smart-admin-2/snippets/script.html' %}

		<!-- PAGE RELATED PLUGIN(S) 
		<script src="..."></script>-->

		<script type="text/javascript">

            function change_language_to(url) {                                    

                if (url.indexOf('/en/') > 0) {
                    if (confirm('Ubah ke Bahasa Indonesa?')) {
                        url = url.replace('/en/','/' + 'id' + '/');
                        window.location.href = url;
                    };
                }
                else if (url.indexOf('/id/') > 0) {
                    if (confirm('Change to English?')) {
                        url = url.replace('/id/','/' + 'en' + '/');
                        window.location.href = url;
                    };
                };
            };

			$(document).ready(function() {

                var url = document.URL;
                
                if (url.indexOf('/id/') > 0) {
                    $("#tg-languages").empty();
                    $("#tg-languages").append( 
                        "<img src=\"{% static 'backend/smart-admin-2/img/blank.gif' %}\" class='flag flag-id' alt='Flag language'> " +
                        "<span> Id </span> <i class='fa fa-angle-down'></i> "
                        );
                }
                else if (url.indexOf('/en/') > 0) {
                    $("#tg-languages").empty();
                    $("#tg-languages").append(                    
                        "<img src=\"{% static 'backend/smart-admin-2/img/blank.gif' %}\" class='flag flag-us' alt='Flag language'> " +
                        "<span> En </span> <i class='fa fa-angle-down'></i> "
                        );

                    // console.log($('.tg-languageslist').find('li'));
                };
            
			 	
				/* DO NOT REMOVE : GLOBAL FUNCTIONS!
				 *
				 * pageSetUp(); WILL CALL THE FOLLOWING FUNCTIONS
				 *
				 * // activate tooltips
				 * $("[rel=tooltip]").tooltip();
				 *
				 * // activate popovers
				 * $("[rel=popover]").popover();
				 *
				 * // activate popovers with hover states
				 * $("[rel=popover-hover]").popover({ trigger: "hover" });
				 *
				 * // activate inline charts
				 * runAllCharts();
				 *
				 * // setup widgets
				 * setup_widgets_desktop();
				 *
				 * // run form elements
				 * runAllForms();
				 *
				 ********************************
				 *
				 * pageSetUp() is needed whenever you load a page.
				 * It initializes and checks for all basic elements of the page
				 * and makes rendering easier.
				 *
				 */
				
				 pageSetUp();
				 
				/*
				 * ALL PAGE RELATED SCRIPTS CAN GO BELOW HERE
				 * eg alert("my home function");
				 * 
				 * var pagefunction = function() {
				 *   ...
				 * }
				 * loadScript("js/plugin/_PLUGIN_NAME_.js", pagefunction);
				 * 
				 * TO LOAD A SCRIPT:
				 * var pagefunction = function (){ 
				 *  loadScript(".../plugin.js", run_after_loaded);	
				 * }
				 * 
				 * OR
				 * 
				 * loadScript(".../plugin.js", run_after_loaded);
				 */
				
                 {% for message in messages %}                                        		
                    $.smallBox({
                        title : "<i class='fa fa-desktop'></i> &nbsp;&nbsp; {{message|safe}}",
                        content : "<i class='fa fa-clock-o'></i> <i>Tags</i>",
                        color : "#296191",
                        iconSmall : "fa fa-thumbs-up bounce animated",
                        timeout : 4000
                    });
                {% endfor %}
			});
		
		</script>

        {% block extra_body %}{% endblock %}

		<!-- Your GOOGLE ANALYTICS CODE Below -->
		<!-- <script type="text/javascript">
			var _gaq = _gaq || [];
				_gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
				_gaq.push(['_trackPageview']);
			
			(function() {
				var ga = document.createElement('script');
				ga.type = 'text/javascript';
				ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(ga, s);
			})();

		</script> -->

	</body>

</html>