{% extends 'education/nurture/base.html' %}

{% load static %}
{% block content %}
<div class="untree_co-hero overlay"
  style="background-image: url('{% static 'education/nurture/images/hero_bg.jpg' %}');">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-12">
        <div class="row justify-content-left">
          <div class="col-lg-6 text-center align-self-center order-lg-2">
            <a href="https://www.youtube.com/watch?v=j4fGLrFUI5c" data-fancybox class="video-play-btn"
              data-aos="fade-up" data-aos-delay="400">
              <span class="icon-play"></span>
            </a>
          </div>
          <div class="col-lg-6 text-center text-lg-left">
            <h1 class="mb-4 heading text-white" data-aos="fade-up" data-aos-delay="100">{{ name }}
            </h1>
            <div class="mb-5 text-white desc mx-" data-aos="fade-up" data-aos-delay="200">
              {% comment %} Another free template by <a href="https://colorlib.com/" target="_blank"
                  class="link-highlight">Colorlib</a> {% endcomment %}
                  {% if notes %} 
                  <p>{{ notes|safe|truncatechars_html:160 }}<a style="color: aliceblue;" href="pages/description/">Read More</a></p>
                  {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="untree_co-section py-0">
  <div class="container">
    <div class="row">
      {% for i in announcement|slice:":3" %}
      {% if i.priority == 1 %}
      <div class="col-md-6 col-lg-4">
        <div class="block-v1 color-3" data-aos="fade-up" data-aos-delay="200">
          <img src="/media/{{ i.file_path }}" alt="Image" class="img-fluid">
          <hr>
          <a href=""><h3>{{ i.title }}</h3></a>
          <p>{{ i.content|safe|truncatechars_html:160 }}<a style="color: aliceblue;" href="pages/description/">Read More</a></p>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<!-- ABOUT US -->
<div class="untree_co-section">
  <div class="container">
    <div class="row justify-content-between">
      {% for i in greeting %}
      <div class="col-lg-5 mb-5">
        <h2 class="line-bottom mb-4" data-aos="fade-up" data-aos-delay="0">{{ i.title }}</h2>
          <div class="staff text-center">
            <div class="mb-4"><img src="/media/{{ i.file_path }}" alt="Image" class="img-fluid"></div>
            <div class="staff-body">
              <h3 class="staff-name">{{ i.name }}</h3>
              <span class="d-block position mb-4">{{ i.designation }}</span>
              <p data-aos="fade-up" data-aos-delay="100">{{ i.content|safe|truncatechars_html:160 }}<a href="pages/description/">Read More</a></p>
            </div>
          </div>
        {% comment %} <ul class="list-unstyled ul-check mb-5 primary" data-aos="fade-up" data-aos-delay="200">
          <li>Separated they live</li>
          <li>Bookmarksgrove right at the coast</li>
          <li>large language ocean</li>
        </ul> {% endcomment %}
      </div>
      {% endfor %}
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
        <div class="custom-block" data-aos="fade-up" data-aos-delay="100">
          <div class="owl-single owl-carousel no-nav">
            {% for i in slideshow %}
            <div class="">
              <figure class="img-wrap">
                <img src="/media/{{ i.file_path }}" alt="Image" class="img-fluid">
              </figure>
            </div>
            {% endfor %}
          </div>
        </div>
        <br>
        <center>
        <div class="row count-numbers mb-5">
          <div class="col-4 col-lg-4" data-aos="fade-up" data-aos-delay="0">
            <span class="counter d-block"><span data-number="4000">0</span><span>+</span></span>
            <span class="caption-2">Students</span>
          </div>
          <div class="col-4 col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <span class="counter d-block"><span data-number="49">0</span><span></span></span>
            <span class="caption-2">Teachers</span>
          </div>
          <div class="col-4 col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <span class="counter d-block"><span data-number="12">0</span><span></span></span>
            <span class="caption-2">Awards</span>
          </div>
        </div>
      </center>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-lg-7 text-center" data-aos="fade-up" data-aos-delay="0">
        <h2 class="line-bottom text-center mb-4">Latest News</h2>
      </div>
    </div>
    <div class="row align-items-stretch">
      {% for i in news  %}
      <div class="col-lg-6 mb-4" data-aos="fade-up" data-aos-delay="100">
        <div class="media-h d-flex h-100">
          <figure>
            <img src="/media/{{ i.file_path }}" alt="Image">
          </figure>
          <div class="media-h-body">
            <h2 class="mb-3"><a href="#">{{ i.title }}</a></h2>
            <div class="meta "><span class="icon-calendar mr-2"></span><span>{{ i.created_at }}</span></div>
            <p style="text-align: justify;">{{ i.content|safe|truncatechars_html:160 }}<a href="pages/description/">Read More...</a></p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <center> <a href="#" class="btn btn-primary btn-sm" data-aos="fade-up" data-aos-delay="200">View All News</a></center>
</div>

<!-- Pengumuman -->
<div class="untree_co-section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="custom-block" data-aos="fade-up">
          <h2 class="section-title">Pengumuman</h2>
          <div class="custom-accordion" id="accordion_1">
            {% for i in announcement|slice:":5" %}
            <div class="accordion-item">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#{{i.slug}}"
                  aria-expanded="false" aria-controls="{{i.slug}}">{{ i.title }}</button>
              </h2>
              <div id="{{i.slug}}" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion_1">
                <div class="accordion-body">
                  {{ i.content|safe|truncatechars_html:160 }} <a href="">Read More</a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          <a href="#" class="btn btn-primary btn-sm" data-aos="fade-up" data-aos-delay="200">View All Pengumuman</a>
        </div>
        <div class="custom-block" data-aos="fade-up">
          <h2 class="section-title">Gallery</h2>
          <div class="row gutter-v2 gallery">
            {% for i in photogallery|slice:":6"  %}
            <div class="col-4">
              <a href="/media/{{ i.file_path}}" class="gal-item" data-fancybox="gal"><img
                  src="/media/{{ i.file_path}}" alt="Image" class="img-fluid"></a>
            </div>
            {% endfor %}
          </div>
          <a href="#" class="btn btn-primary btn-sm" data-aos="fade-up" data-aos-delay="200">View All Gallery</a>
        </div>
        <div class="custom-block" data-aos="fade-up">
          <h2 class="section-title">Video</h2>
          {% for i in videogallery|slice:":3" %}
          {{ i.embed|safe }}
          <hr>
          {% endfor %}
          <a href="#" class="btn btn-primary btn-sm" data-aos="fade-up" data-aos-delay="200">View All Video</a>
        </div>

      </div>
      <div class="col-lg-5">
        <div class="custom-block" data-aos="fade-up">
          <h2 class="section-title">Article</h2>
          <div class="row gutter-v2 gallery">
            {% for i in article|slice:":4" %}
            <div class="col-6">
              <hr>
              <img src="/media/{{ i.file_path }}" alt="Image" class="img-fluid" />
              <hr>
              <div class="meta ">
                <h6 class="mb-3"><a href="#">{{ i.title }}</a></h6>
                <small class="icon-calendar mr-2"></small><small>{{ i.created_at }}</small>
              </div>
              <p>{{ i.content|safe|truncatechars_html:160 }}<a href="">Read More</a></p>
            </div>
            {% endfor %}
          </div>
          <a href="#" class="btn btn-primary btn-sm" data-aos="fade-up" data-aos-delay="200">View All Article</a>
        </div>
        <div class="custom-block" data-aos="fade-up">
          <h2 class="section-title mb-3">Link Terkait</h2>
          <ul class="list-unstyled ul-check primary">
            {% for i in relatedlink %}
            <a href="{{ i.link }}" target="_blank">
              <li>{{ i.name }}</li>
            </a>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="custom-block" data-aos="fade-up" data-aos-delay="100">
          <h2 class="section-title">Banner</h2>
          <div class="owl-single owl-carousel no-nav">
            {% for i in banner %}
            <div class="testimonial mx-auto">
              <a href="{{ i.link }}"><img src="/media/{{ i.file_path   }}"></a>
            </div>
            {% endfor %}
          </div>
        </div>
        <hr>
        <div class="custom-block" data-aos="fade-up">
          <h2 class="section-title">Documents</h2>
          {% for i in document %}
          <a href="{{ i.file_path_doc.url }}"><span class="icon-link"> {{ i.name }}</span></a><br>
          {% endfor %}
        </div>
        <hr>
        <div class="custom-block" data-aos="fade-up">
          <h2 class="section-title">Location</h2>
          {% for i in location  %} {{ i.embed|safe }}{% endfor %}
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>

<div class="untree_co-section bg-light">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-lg-7 text-center" data-aos="fade-up" data-aos-delay="0">
        <h2 class="line-bottom text-center mb-4">Guru</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
          blind texts.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6 col-md-6 mb-4 mb-lg-0 col-lg-4" data-aos="fade-up" data-aos-delay="0">
        <div class="staff text-center">
          <div class="mb-4"><img src="{% static 'education/nurture/images/staff_1.jpg' %}" alt="Image"
              class="img-fluid"></div>
          <div class="staff-body">
            <h3 class="staff-name">Mina Collins</h3>
            <span class="d-block position mb-4">Teacher in Math</span>
            <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
              there live the blind texts.</p>
            <div class="social">
              <a href="#" class="mx-2"><span class="icon-facebook"></span></a>
              <a href="#" class="mx-2"><span class="icon-twitter"></span></a>
              <a href="#" class="mx-2"><span class="icon-linkedin"></span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 mb-4 mb-lg-0 col-lg-4" data-aos="fade-up" data-aos-delay="100">
        <div class="staff text-center">
          <div class="mb-4"><img src="{% static 'education/nurture/images/staff_2.jpg' %}" alt="Image"
              class="img-fluid"></div>
          <div class="staff-body">
            <h3 class="staff-name">Anderson Matthew</h3>
            <span class="d-block position mb-4">Teacher in Music</span>
            <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
              there live the blind texts.</p>
            <div class="social">
              <a href="#" class="mx-2"><span class="icon-facebook"></span></a>
              <a href="#" class="mx-2"><span class="icon-twitter"></span></a>
              <a href="#" class="mx-2"><span class="icon-linkedin"></span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 mb-4 mb-lg-0 col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <div class="staff text-center">
          <div class="mb-4"><img src="{% static 'education/nurture/images/staff_3.jpg' %}" alt="Image"
              class="img-fluid"></div>
          <div class="staff-body">
            <h3 class="staff-name">Cynthia Misso</h3>
            <span class="d-block position mb-4">Teacher English</span>
            <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
              there live the blind texts.</p>
            <div class="social">
              <a href="#" class="mx-2"><span class="icon-facebook"></span></a>
              <a href="#" class="mx-2"><span class="icon-twitter"></span></a>
              <a href="#" class="mx-2"><span class="icon-linkedin"></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <center><a href="#" class="btn btn-primary btn-sm" data-aos="fade-up" data-aos-delay="200">View All</a></center>
  </div>
</div>
{% endblock %}