{% load static %}
<div class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 mr-auto">
                <div class="widget">
                    <h3>{{ name }}<span class="text-primary">.</span> </h3>
                    {% if notes %} 
                    <p>{{ notes|safe|truncatechars_html:160 }}<a style="color: aliceblue;" href="pages/description/">Read More</a></p>
                    {% endif %}
                </div>
                <div class="widget">
                    <h3>Sosial Media</h3>
                    <ul class="list-unstyled social">
                        {% for i in socialmedia %}
                        {% if i.kind == 1 %}
                        <li><a href="{{ i.link }}"><span class="icon-facebook"></span></a></li>
                        {% elif i.kind == 2 %}
                        <li><a href="{{ i.link }}"><span class="icon-twitter"></span></a></li>
                        {% elif i.kind == 3 %}
                        <li><a href="{{ i.link }}"><span class="icon-pinterest"></span></a></li>
                        {% elif i.kind == 4 %}
                        <li><a href="{{ i.link }}"><span class="icon-youtube"></span></a></li>
                        {% elif i.kind == 5 %}
                        <li><a href="{{ i.link }}"><span class="icon-instagram"></span></a></li>
                        {% endif %}

                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="widget">
                    <h3>Statistik</h3>
                    <ul class="list-unstyled">
                        <li>Online : {{ hit_online }}</li>
                        <li>Pengunjung Hari ini : {{ hit_today }}</li>
                        <li>Pengunjung Kemarin : {{ hit_yesterday }}</li>
                        <li>Pengunjung Minggu ini : {{ hit_this_weak }}</li>
                        <li>Pengunjung Minggu lalu : {{ hit_last_weak }}</li>
                        <li>Pengunjung Bulan ini : {{ hit_this_month }}</li>
                        <li>Pengunjung Bulan lalu : {{ hit_last_month }}</li>
                        <li>Total Kunjungan : {{ hit_all }}</li>
                       
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="widget">
                    <h3>Gallery</h3>
                    <ul class="instafeed instagram-gallery list-unstyled">
                        {% for i in photogallery %}
                        <li><a class="instagram-item" href="/media/{{ i.file_path}}"
                                data-fancybox="gal"><img src="/media/{{ i.file_path}}" alt=""
                                    width="72" height="72"></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="widget">
                    <h3>Contact</h3>
                    <address>{{ address }}</address>
                    <ul class="list-unstyled links mb-4">
                        <li><a href="">{{ phone }}</a></li>
                        <li><a href="https://wa.me/{{ whatsapp }}">{{ whatsapp }}</a></li>
                    </ul>
                </div>
                {% for i in location  %} {{ i.embed|safe }}{% endfor %}

            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 text-center">
                <p>
                </p>
            </div>
        </div>
    </div>
</div>
<div id="overlayer"></div>
<div class="loader">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>