{% extends "allauth/base.html" %}
{% load static %}
{% load i18n %}

{% block header %}
    <div id="logo-group">
        <span id="logo"> <img src="{% static 'backend/smart-admin-2/img/logo.png' %}" alt="SmartAdmin"> 
        <!--LOGIN INFO-->

        </span>
    </div>

    <span id="extr-page-header-space"> 
        <span class="hidden-mobile hiddex-xs">Back to Login Page</span> 
        
        <a href="{% url 'account_login' %}" class="btn btn-danger">Login</a> 
    </span>

    <!--<span id="extr-page-header-space"> <span class="hidden-mobile hiddex-xs">{% trans "Create an Account" %}?</span> <a href="login.html" class="btn btn-danger">{% trans "Sign Up" %}</a> </span>-->    
    <!-- <span id="extr-page-header-space"> <span class="hidden-mobile hiddex-xs">Need an account?</span> <a href="register.html" class="btn btn-danger">Create account</a> </span> -->
{% endblock %}

{% block content %}
	<!-- MAIN CONTENT -->
    <div id="content" class="container">
       <!-- active domain = {{active_domain}} <br>
       main domain = {{main_domain}}
        -->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
                {% include "allauth/snippets/login_info.html" %}

                <div class="row">
                    <!-- <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h5 class="about-heading">About SmartAdmin - Are you up to date?</h5>
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h5 class="about-heading">Not just your average template!</h5>
                        <p>
                            Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi voluptatem accusantium!
                        </p>
                    </div> -->
                </div>

            </div>
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">


                <div class="well no-padding">
                    <form method="POST" id="login-form" class="smart-form client-form">
                        {% csrf_token %}
                        <header>
                            {% trans "Password Reset" %}
                        </header>
                     
                        {{form}}
                        <fieldset>
                            {% if form.errors %}
                                <p style="color: crimson ;"><b>{% trans "Nama Pengguna dan Sandi Masih Salah. Silahkan Coba Kembali." %}</b></p><br>
                            {% endif %}
                                                       
                            {% if user.is_authenticated %}
                                <section>                                
                                    {% include "allauth/account/snippets/already_logged_in.html" %}
                                </section>
                            {% endif %}     

                            <section> 
                                <p>{% blocktrans %}We have sent you an e-mail. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}</p>
                            </section>   



                       
                        </fieldset>
                        <footer>
                            <p>
                                
                                <a href="{% url 'account_login' %}" class="btn btn-danger">Back</a> 
                            </p>
                        </footer>
                    </form>

                </div>
                
                
                
                
            </div>
        </div>
    </div>
{% endblock %}


{% comment %}
    {% block head_title %}{% trans "Password Reset" %}{% endblock %}

    {% block content %}
        <h1>{% trans "Password Reset" %}</h1>
        
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        
        <p>{% blocktrans %}We have sent you an e-mail. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}</p>
    {% endblock %}
{% endcomment %}