{% extends "allauth/base.html" %}
{% load static %}
{% load i18n %}


{% comment %}
  {% extends "account/base.html" %}
{% endcomment %}


{% block header %}
    <div id="logo-group">
        <span id="logo"> <img src="{% static 'backend/smart-admin-2/img/authbox-logo.png' %}" alt="SmartAdmin"> 
        <!--LOGIN INFO-->
        
        <!-- <div class="pull-right"> -->
            <!-- <button class="btn btn-primary pull-right">
                Sign Up
            </button> -->
        <!-- </div> -->
            
        </span>
        
        
    </div>

    <span id="extr-page-header-space"> 
        <span class="hidden-mobile hiddex-xs">Back to Login Page</span> 
        
        {% get_current_language as LANGUAGE_CODE %}
        <a href="{% url 'account_login' %}" class="btn btn-danger">Login</a> 
    </span>

    <!--<span id="extr-page-header-space"> <span class="hidden-mobile hiddex-xs">{% trans "Create an Account" %}?</span> <a href="login.html" class="btn btn-danger">{% trans "Sign Up" %}</a> </span>-->
    
    

    <!-- <span id="extr-page-header-space"> <span class="hidden-mobile hiddex-xs">Need an account?</span> <a href="register.html" class="btn btn-danger">Create account</a> </span> -->
{% endblock %}



{% block content %}
	<!-- MAIN CONTENT -->
    <div id="content" class="container">
       <!-- active domain = {{active_domain}} <br>
       main domain = {{main_domain}}
        -->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
                {% include "allauth/snippets/login_info.html" %}

                <div class="row">
                    <!-- <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h5 class="about-heading">About SmartAdmin - Are you up to date?</h5>
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h5 class="about-heading">Not just your average template!</h5>
                        <p>
                            Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi voluptatem accusantium!
                        </p>
                    </div> -->
                </div>

            </div>
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">


                <div class="well no-padding">
                    <form method="POST" id="login-form" class="smart-form client-form">
                        {% csrf_token %}
                        <header>
                            {% trans "Sign Up" %}
                        </header>
                     

                        <fieldset>
                            {% if form.errors %}
                                <p style="color: crimson ;"><b>{% trans "Nama Pengguna dan Sandi Masih Salah. Silahkan Coba Kembali." %}</b></p><br>
                            {% endif %}

                            <section>
                                <label class="label">{{form.email.label}}</label>
                                <label class="input"> <i class="icon-append fa fa-envelope"></i>
                                    <!-- <input type="email" name="email"> -->
                                    {{form.email}}
                                    <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> {% trans "Please enter email address" %}</b></label>
                            </section>
                            <!-- <section>
                                <label class="label">{{form.name.label}}</label>
                                <label class="input"> <i class="icon-append fa fa-user"></i>
                                    
                                    {{form.name}}
                                    <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> {% trans "Please enter email address" %}</b></label>
                            </section> -->

                            <section>
                                <label class="label">{{form.password1.label}}</label>
                                <label class="input"> <i class="icon-append fa fa-lock"></i>
                                    <!-- <input type="name" name="name"> -->
                                    {{form.password1}}
                                    <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> {% trans "Please enter email address" %}</b></label>
                            </section>

                            <section>
                                <label class="label">{{form.password2.label}}</label>
                                <label class="input"> <i class="icon-append fa fa-lock"></i>
                                    <!-- <input type="name" name="name"> -->
                                    {{form.password2}}
                                    <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> {% trans "Please enter email address" %}</b></label>
                            </section>




                            <section>
                                <label class="checkbox">
                                    <!-- <input type="checkbox" name="remember" checked=""> -->
                                    {{form.is_accept_terms}}
                                    <i></i>{{form.is_accept_terms.label}}</label>
                            </section>


                            



                       
                        </fieldset>
                        <footer>
                            <button id="btn-sign-in" type="submit" class="btn btn-primary">
                                {% trans "Sign Up" %}
                            </button>
                        </footer>
                    </form>

                </div>
                
                
                
                
            </div>
        </div>
    </div>
{% endblock %}


{% comment %}
  {% block head_title %}{% trans "Signup" %}{% endblock %}

  {% block content %}
  <h1>{% trans "Sign Up" %}</h1>

  <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in ....</a>.{% endblocktrans %}</p>

  <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button type="submit">{% trans "Sign Up" %} &raquo;</button>
  </form>

  {% endblock %}
{% endcomment %}