{% extends "education/college-and-school-education/base.html" %}
{% load static %}

{% block wrapper %}
    <div id="tg-wrapper" class="tg-wrapper">
        {% block header %}
            {% include "education/college-and-school-education/snippets/header.html" %}
        {% endblock %}

        {% block inner-banner %}{% endblock %}

        {% block main %}{% endblock %}

        {% block footer %}
            {% include "education/college-and-school-education/snippets/footer.html" %}
        {% endblock %}
    </div>    
{% endblock %}