{% extends "education/college-and-school-education/base-detail.html" %}
{% load static %}
{% load hitcount_tags %}

{% block inner-banner %}
    <!--************************************
            Inner Banner Start
    *************************************-->
    <div class="tg-innerbanner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ol class="tg-breadcrumb">
                        <li><a href="{{base_url}}/">home</a></li>
                        <!-- # goto list of kind -->
                        <li>Description</li> 
                        <li class="tg-active">Detail</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!--************************************
            Inner Banner End
    *************************************-->
{% endblock %}

{% block main %}
		<!--************************************
				Main Start
		*************************************-->
		<main id="tg-main" class="tg-main tg-haslayout">
			<div class="container">
				<div class="row">
					<div id="tg-twocolumns" class="tg-twocolumns">
						<div class="col-xs-12 col-sm-8 col-md-9 col-lg-9 pull-right">
							<div id="tg-content" class="tg-content">
								<div class="tg-addmission tg-addmissiondetail">
									<span class="tg-lastmodified">Description</span>
									<div class="tg-pagetitle">
										<h2>{{name}}</h2>
									</div>

                                    
                                    <p>{{notes|safe}}</p>
                                    <p>&nbsp;</p>
                                   

									<!-- <div class="tg-container">
										<p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt labore dolore msagna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullaasmco laboris nisi uiat aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit etssse cillum dolore eu fugiat nulla pariatur sintasr <a href="mailto:info@uoek.com">info@uoek.com</a> or <a href="javascript:void(0);">call 111 222 333,</a> sunt in culpa unde omnis.</p>
										<p>Aste natus error sit voluptatem accusantium doloremque laudantium sasi totam rem aperiam eaque ipsa quae ab illo inventore veritatis etanas quasi architecto beatae vitae dicta explicabo Nemo enim ipsam sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
									</div> -->
									<!-- <div class="tg-container">
										<h3>Vision Statement</h3>
										<p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt labore dolore msagna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullaasmco laboris nisi uiat aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit etssse cillum dolore eu fugiat nulla pariatur sintasr occaecat cupidatat proident, sunt in culpa qui officia deserunt mollit anim laborum.</p>
									</div>
									<div class="tg-container">
										<h3>Mission &amp; Goals</h3>
										<ul class="tg-ullist tg-liststyledot">
											<li>Sed do eiusmod tempor incididunt labore dolore</li>
											<li>Msagna aliqua enim ad minim veniam</li>
											<li>Quis nostrud exercitation ullaasmco laboris nisi uiat</li>
											<li>Aliquip ex ea commodo consequat</li>
											<li>Duis aute irure dolor in reprehenderit in voluptate</li>
											<li>Velit etssse cillum dolore eu fugiat nulla pariatur</li>
											<li>Excepteur sintasr occaecat cupidatat non proident</li>
											<li>Sunt in culpa qui officia deserunt mollit anim id est laborum</li>
										</ul>
									</div>
									<div class="tg-container">
										<h3>Teaching Faculty</h3>
										<div class="tg-facultyarea tg-faculties">
											<div class="row">
												<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
													<div class="tg-faculty">
														<figure><a href="javascript:void(0);"><img src="images/speakers/img-01.jpg" alt="image description"></a></figure>
														<div class="tg-facultyname">
															<h3><a href="javascript:void(0);">Maragaret Ellinger</a></h3>
														</div>
														<span class="tg-facultydesignation">Professor</span>
													</div>
												</div>
												<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
													<div class="tg-faculty">
														<figure><a href="javascript:void(0);"><img src="images/speakers/img-02.jpg" alt="image description"></a></figure>
														<div class="tg-facultyname">
															<h3><a href="javascript:void(0);">Alphonse Travis</a></h3>
														</div>
														<span class="tg-facultydesignation">Assistant Professor</span>
													</div>
												</div>
												<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
													<div class="tg-faculty">
														<figure><a href="javascript:void(0);"><img src="images/speakers/img-03.jpg" alt="image description"></a></figure>
														<div class="tg-facultyname">
															<h3><a href="javascript:void(0);">Bernardina Verde</a></h3>
														</div>
														<span class="tg-facultydesignation">Lecturer</span>
													</div>
												</div>
												<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
													<div class="tg-faculty">
														<figure><a href="javascript:void(0);"><img src="images/speakers/img-04.jpg" alt="image description"></a></figure>
														<div class="tg-facultyname">
															<h3><a href="javascript:void(0);">Deandre Magallan</a></h3>
														</div>
														<span class="tg-facultydesignation">Professor</span>
													</div>
												</div>
											</div>
										</div>
									</div> -->
									<!-- <div class="tg-otherprogramsoffered">
										<h2>Other Programs Offered</h2>
										<div id="tg-programsofferedcollapse" class="tg-themecollapse tg-departmentscollapse">
											<h3 class="fa fa-angle-down">Faculty of Allied Health Sciences</h3>
											<div class="tg-themecollapsecontent">
												<ul>
													<li>
														<span>1</span>
														<a href="javascript:void(0);">View Detail</a>
														<div class="tg-description">
															<p>Department of Health Professional Technologies</p>
														</div>
													</li>
													<li>
														<span>2</span>
														<a href="javascript:void(0);">View Detail</a>
														<div class="tg-description">
															<p>Department of Sports Sciences</p>
														</div>
													</li>
													<li>
														<span>3</span>
														<a href="javascript:void(0);">View Detail</a>
														<div class="tg-description">
															<p>School of Nursing</p>
														</div>
													</li>
													<li>
														<span>4</span>
														<a href="javascript:void(0);">View Detail</a>
														<div class="tg-description">
															<p>Radiological Sciences &amp; Medical Imaging Technology</p>
														</div>
													</li>
													<li>
														<span>5</span>
														<a href="javascript:void(0);">View Detail</a>
														<div class="tg-description">
															<p>University Institute of Physical Therapy</p>
														</div>
													</li>
													<li>
														<span>6</span>
														<a href="javascript:void(0);">View Detail</a>
														<div class="tg-description">
															<p>University Institute of Public Health</p>
														</div>
													</li>
												</ul>
											</div>
											<h3 class="fa fa-angle-down">Faculty of Arts &amp; Architecture</h3>
											<div class="tg-themecollapsecontent">
												<ul>
													<li>
														<span>1</span>
														<a href="javascript:void(0);">View Detail</a>
														<div class="tg-description">
															<p>Department of Health Professional Technologies</p>
														</div>
													</li>
													<li>
														<span>2</span>
														<a href="javascript:void(0);">View Detail</a>
														<div class="tg-description">
															<p>Department of Sports Sciences</p>
														</div>
													</li>
													<li>
														<span>3</span>
														<a href="javascript:void(0);">View Detail</a>
														<div class="tg-description">
															<p>School of Nursing</p>
														</div>
													</li>
													<li>
														<span>4</span>
														<a href="javascript:void(0);">View Detail</a>
														<div class="tg-description">
															<p>Radiological Sciences &amp; Medical Imaging Technology</p>
														</div>
													</li>
													<li>
														<span>5</span>
														<a href="javascript:void(0);">View Detail</a>
														<div class="tg-description">
															<p>University Institute of Physical Therapy</p>
														</div>
													</li>
													<li>
														<span>6</span>
														<a href="javascript:void(0);">View Detail</a>
														<div class="tg-description">
															<p>University Institute of Public Health</p>
														</div>
													</li>
												</ul>
											</div>
											<h3 class="fa fa-angle-down">Faculty of Engineering &amp; Technology</h3>
											<div class="tg-themecollapsecontent">
												<ul>
													<li>
														<span>1</span>
														<a href="javascript:void(0);">View Detail</a>
														<div class="tg-description">
															<p>Department of Health Professional Technologies</p>
														</div>
													</li>
													<li>
														<span>2</span>
														<a href="javascript:void(0);">View Detail</a>
														<div class="tg-description">
															<p>Department of Sports Sciences</p>
														</div>
													</li>
													<li>
														<span>3</span>
														<a href="javascript:void(0);">View Detail</a>
														<div class="tg-description">
															<p>School of Nursing</p>
														</div>
													</li>
													<li>
														<span>4</span>
														<a href="javascript:void(0);">View Detail</a>
														<div class="tg-description">
															<p>Radiological Sciences &amp; Medical Imaging Technology</p>
														</div>
													</li>
													<li>
														<span>5</span>
														<a href="javascript:void(0);">View Detail</a>
														<div class="tg-description">
															<p>University Institute of Physical Therapy</p>
														</div>
													</li>
													<li>
														<span>6</span>
														<a href="javascript:void(0);">View Detail</a>
														<div class="tg-description">
															<p>University Institute of Public Health</p>
														</div>
													</li>
												</ul>
											</div>
											<h3 class="fa fa-angle-down">Faculty of Information Technology</h3>
											<div class="tg-themecollapsecontent">
												<ul>
													<li>
														<span>1</span>
														<a href="javascript:void(0);">View Detail</a>
														<div class="tg-description">
															<p>Department of Health Professional Technologies</p>
														</div>
													</li>
													<li>
														<span>2</span>
														<a href="javascript:void(0);">View Detail</a>
														<div class="tg-description">
															<p>Department of Sports Sciences</p>
														</div>
													</li>
													<li>
														<span>3</span>
														<a href="javascript:void(0);">View Detail</a>
														<div class="tg-description">
															<p>School of Nursing</p>
														</div>
													</li>
													<li>
														<span>4</span>
														<a href="javascript:void(0);">View Detail</a>
														<div class="tg-description">
															<p>Radiological Sciences &amp; Medical Imaging Technology</p>
														</div>
													</li>
													<li>
														<span>5</span>
														<a href="javascript:void(0);">View Detail</a>
														<div class="tg-description">
															<p>University Institute of Physical Therapy</p>
														</div>
													</li>
													<li>
														<span>6</span>
														<a href="javascript:void(0);">View Detail</a>
														<div class="tg-description">
															<p>University Institute of Public Health</p>
														</div>
													</li>
												</ul>
											</div>
											<h3 class="fa fa-angle-down">Faculty of Law</h3>
											<div class="tg-themecollapsecontent">
												<ul>
													<li>
														<span>1</span>
														<a href="javascript:void(0);">View Detail</a>
														<div class="tg-description">
															<p>Department of Health Professional Technologies</p>
														</div>
													</li>
													<li>
														<span>2</span>
														<a href="javascript:void(0);">View Detail</a>
														<div class="tg-description">
															<p>Department of Sports Sciences</p>
														</div>
													</li>
													<li>
														<span>3</span>
														<a href="javascript:void(0);">View Detail</a>
														<div class="tg-description">
															<p>School of Nursing</p>
														</div>
													</li>
													<li>
														<span>4</span>
														<a href="javascript:void(0);">View Detail</a>
														<div class="tg-description">
															<p>Radiological Sciences &amp; Medical Imaging Technology</p>
														</div>
													</li>
													<li>
														<span>5</span>
														<a href="javascript:void(0);">View Detail</a>
														<div class="tg-description">
															<p>University Institute of Physical Therapy</p>
														</div>
													</li>
													<li>
														<span>6</span>
														<a href="javascript:void(0);">View Detail</a>
														<div class="tg-description">
															<p>University Institute of Public Health</p>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div> -->
                                    <!-- <div class="clearfix"></div> -->
                                    <h3>Share</h3>
                                    <ul class="tg-socialicons">
                                        <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                                        <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                                        <!-- <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                                        <li class="tg-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
                                        <li class="tg-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li> -->
                                    </ul>
								</div>
                                
							</div>

                            
                            
						</div>
						<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 pull-left">
							<aside id="tg-sidebar" class="tg-sidebar">
								<div class="tg-widget tg-widgetcampuses">
                                    {% if latest_announcement %}
                                        <!-- <div class="tg-widget tg-widgetlatestcourses"> -->
                                            <div class="tg-widgettitle">
                                                <h3>Latest Announcement</h3>
                                            </div>
                                            <div class="tg-widgetcontent">
                                                {% for i in latest_announcement  %}
                                                    <article class="tg-campus tg-campusleftthumb">
                                                        <!-- <figure class="tg-featuredimg"> -->
                                                            <a href="{{base_url}}/announcement/detail/{{i.slug}}">
                                                                <img src="/media/{{i.file_path}}" alt="image description">
                                                            </a>
                                                        <!-- </figure> -->
                                                        <br><br>
                                                        <div class="tg-campuscontent">
                                                            <div class="tg-datetime">
                                                                <i class="fa fa-calendar"></i>
                                                                <span>{{i.created_at}}</span>
                                                            </div>
                                                            <div class="tg-campustitle">
                                                                <h3><a href="{{base_url}}/announcement/detail/{{i.slug}}">{{i.title}}</a></h3>
                                                            </div>
                                                        </div>
                                                    </article>
                                                {% endfor %}

                                                
                                            </div>
                                        <!-- </div> -->
                                    {% endif %}
                                    
                                    
								</div>

                                <!-- <div class="tg-widget tg-widgetcampuses">
                                    {% if latest_news %}
                                        
                                            <div class="tg-widgettitle">
                                                <h3>Latest news</h3>
                                            </div>
                                            <div class="tg-widgetcontent">
                                                {% for i in latest_news %}
                                                    <article class="tg-campus tg-campusleftthumb">
                                                        <figure class="tg-featuredimg">
                                                            <a href="{{base_url}}/news/detail/{{i.slug}}">
                                                                <img src="/media/{{i.file_path}}" alt="image description">
                                                            </a>
                                                        </figure>
                                                        <div class="tg-campuscontent">
                                                            <div class="tg-datetime">
                                                                <i class="fa fa-calendar"></i>
                                                                <span>{{i.created_at}}</span>
                                                            </div>
                                                            <div class="tg-campustitle">
                                                                <h3><a href="{{base_url}}/news/detail/{{i.slug}}">{{i.title}}</a></h3>
                                                            </div>
                                                        </div>
                                                    </article>
                                                {% endfor %}

                                                
                                            </div>
                                        
                                    {% endif %}
                                    
                                    
								</div> -->

								<!-- <div class="tg-widget tg-widgetothercapmus">
									<div class="tg-widgetcontent">
										<article class="tg-campus tg-campusleftthumb">
											<figure class="tg-featuredimg">
												<a href="javascript:void(0);">
													<img src="images/img-22.jpg" alt="image description">
												</a>
											</figure>
											<div class="tg-campuscontent">
												<div class="tg-campustitle">
													<h3><a href="javascript:void(0);">National College of Arts &amp; Construction</a></h3>
												</div>
												<ul>
													<li>
														<i class="fa fa- fa-location-arrow"></i>
														<address>Manchester, England</address>
													</li>
												</ul>
											</div>
										</article>
										<article class="tg-campus tg-campusleftthumb">
											<figure class="tg-featuredimg">
												<a href="javascript:void(0);">
													<img src="images/img-23.jpg" alt="image description">
												</a>
											</figure>
											<div class="tg-campuscontent">
												<div class="tg-campustitle">
													<h3><a href="javascript:void(0);">Base College of Craft &amp; Arts</a></h3>
												</div>
												<ul>
													<li>
														<i class="fa fa- fa-location-arrow"></i>
														<address>Manchester, England</address>
													</li>
												</ul>
											</div>
										</article>
									</div>
								</div> -->
							</aside>
						</div>
					</div>
				</div>
			</div>
		</main>
		<!--************************************
				Main End
		*************************************-->
{% endblock %}


{% block extra_body %}
{% endblock %}