{% extends 'education/nova/base.html' %}
{% load static %}


{% block content %}

<!-- ======= Hero Section ======= -->
<section id="hero" style="background-image: url('{% static 'education/nova/assets/img/hero-bg.jpg' %}');"
  class="hero d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-xl-4">
        <h2 data-aos="fade-up">{{ name }}</h2>
        <blockquote data-aos="fade-up" data-aos-delay="100">
          <p>{{ notes|safe|truncatechars_html:160 }}</p>
        </blockquote>
        <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
          <a href="#about" class="btn-get-started">Read More</a>
          {% comment %} <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ"
            class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch
              Video</span></a> {% endcomment %}
        </div>

      </div>
    </div>
  </div>
</section><!-- End Hero Section -->

<main id="main">
  {% if greeting %}
  {% for i in greeting %}
  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">
      <div class="row gy-4" data-aos="fade-up">
        <div class="col-lg-2">
          <img src="/media/{{ i.file_path }}" class="img-fluid" alt="">
        </div>
        <div class="col-lg-10">
          <div class="content ps-lg-5">
            <h3>{{ i.title }}</h3>
            <p>
              {{ i.content|safe|truncatechars_html:250 }}
            </p>
            {% if i.content < i.content|safe|truncatechars_html:250 %} <a href="#" class="btn btn-primary">Read More</a>
              {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section><!-- End About Section -->
  {% endfor %}
  {% endif %}

  {% if slideshow %}
  <!-- ======= Why Choose Us Section ======= -->
  <section id="why-us" class="why-us">
    <div class="container" data-aos="fade-up">
      <div class="row g-0" data-aos="fade-up" data-aos-delay="200">
        <div class="col-xl-12 slides  position-relative">
          <div class="slides-1 swiper">
            <div class="swiper-wrapper">
              {% for i in slideshow %}
              <div class="swiper-slide">
                <div class="item">
                  <center><img src="/media/{{ i.file_path }}" class="img-fluid" width="800px" alt=""></center>
                  <h3 class="mb-3">{{ i.title }}</h3>
                  <h4 class="mb-3">Optio reiciendis accusantium iusto architecto at quia minima maiores quidem,
                    dolorum.</h4>
                  <p>
                    {{ i.content|safe|truncatechars_html:160 }}
                  </p>
                </div>
              </div><!-- End slide item -->
              {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
    </div>
  </section><!-- End Why Choose Us Section -->
  {% endif %}

  {% if news %}
  <!-- ======= Recent Blog Posts Section ======= -->
  <section id="recent-posts" class="recent-posts">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>Berita</h2>
      </div>
      <div class="row gy-5">
        {% for i in news %}
        <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="post-box">
            <div class="post-img"><img src="/media/{{ i.file_path }}" class="img-fluid" alt=""></div>
            <div class="meta">
              <span class="post-date">{{ i.created_at }}</span>
              {% comment %} <span class="post-author"> / Julia Parker</span> {% endcomment %}
            </div>
            <h3 class="post-title">{{ i.title }}</h3>
            <p>{{ i.content|safe|truncatechars_html:160 }}</p>
            <a href="blog-details.html" class="readmore stretched-link"><span>Read More</span><i
                class="bi bi-arrow-right"></i></a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <center>
      <hr size="5px" color="#ff0000" width="75%">
    </center>
    <center><a href="#" class="btn btn-primary">View All Berita</a></center>
  </section><!-- End Recent Blog Posts Section -->
  {% endif %}

  <!-- ======= Call To Action Section ======= -->
  <section id="call-to-action" class="call-to-action">
    <div class="container" data-aos="fade-up">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <h3>Ut fugiat aliquam aut non</h3>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident.</p>
          <a class="cta-btn" href="#">Call To Action</a>
        </div>
      </div>

    </div>
  </section><!-- End Call To Action Section -->

  {% if announcement %}
  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>Pengumuman</h2>
      </div>
      <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry"
        data-portfolio-sort="original-order">

        {% comment %} <ul class="portfolio-flters" data-aos="fade-up" data-aos-delay="100">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-app">App</li>
          <li data-filter=".filter-product">Product</li>
          <li data-filter=".filter-branding">Branding</li>
          <li data-filter=".filter-books">Books</li>
        </ul><!-- End Portfolio Filters --> {% endcomment %}

        <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="300">
          {% for i in announcement|slice:":6" %}
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="/media/{{ i.file_path }}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <a href="#"><h4>{{ i.title }}</h4></a>
              <p>{{ i.content|safe|truncatechars_html:100}}</p>
              <a href="/media/{{ i.file_path }}" title="{{ i.title }}" data-gallery="portfolio-gallery-app"
                class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              <a href="#" title="More Details" class="details-link"><i
                  class="bi bi-link-45deg"></i></a>
            </div>
          </div><!-- End Portfolio Item -->
          {% endfor %}
        </div><!-- End Portfolio Container -->

      </div>

    </div>
    <center>
      <hr size="5px" color="#ff0000" width="75%">
    </center>
    <center><a href="#" class="btn btn-primary">View All Pengumuman</a></center>
  </section><!-- End Portfolio Section -->
  {% endif %}

  
  {% if events %}
  <!-- ======= Recent Blog Posts Section ======= -->
  <section id="recent-posts" class="recent-posts">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>Events</h2>
      </div>
      <div class="row gy-5">
        {% for i in events %}
        <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="post-box">
            <div class="post-img"><img src="/media/{{ i.file_path }}" class="img-fluid" alt=""></div>
            <div class="meta">
              <span class="post-date">{{ i.created_at }}</span>
              {% comment %} <span class="post-author"> / Julia Parker</span> {% endcomment %}
            </div>
            <h3 class="post-title">{{ i.title }}</h3>
            <p>{{ i.content|safe|truncatechars_html:160 }}</p>
            <a href="blog-details.html" class="readmore stretched-link"><span>Read More</span><i
                class="bi bi-arrow-right"></i></a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <center>
      <hr size="5px" color="#ff0000" width="75%">
    </center>
    <center><a href="#" class="btn btn-primary">View All Events</a></center>
  </section><!-- End Recent Blog Posts Section -->
  {% endif %}

  {% if article %}
  <!-- ======= Recent Blog Posts Section ======= -->
  <section id="recent-posts" class="recent-posts">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>Artikel</h2>
      </div>
      <div class="row gy-5">
        {% for i in article %}
        <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="post-box">
            <div class="post-img"><img src="/media/{{ i.file_path }}" class="img-fluid" alt=""></div>
            <div class="meta">
              <span class="post-date">{{ i.created_at }}</span>
              {% comment %} <span class="post-author"> / Julia Parker</span> {% endcomment %}
            </div>
            <h3 class="post-title">{{ i.title }}</h3>
            <p>{{ i.content|safe|truncatechars_html:160 }}</p>
            <a href="blog-details.html" class="readmore stretched-link"><span>Read More</span><i
                class="bi bi-arrow-right"></i></a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <center>
      <hr size="5px" color="#ff0000" width="75%">
    </center>
    <center><a href="#" class="btn btn-primary">View All Artikel</a></center>
  </section><!-- End Recent Blog Posts Section -->
  {% endif %}

  {% if relatedlink %}
  <!-- ======= Features Section ======= -->
  <section id="features" class="features">

    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-lg-9" data-aos="fade-up" data-aos-delay="100">
          <h3>Link Terkait</h3>
          <div class="row gy-4">
            {% for i in relatedlink %}
            <div class="col-md-6">
              <div class="icon-list d-flex">
                <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i>
                <a href="#" class="badge"><span>{{ i.name }}</span></a>
              </div>
            </div><!-- End Icon List Item-->
            {% endfor %}
            {% comment %} <div class="col-md-6">
              <div class="icon-list d-flex">
                <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i>
                <a href="#" class="badge"><span>Sit amet consectetur adipisicing</span></a>
              </div>
            </div><!-- End Icon List Item-->

            <div class="col-md-6">
              <div class="icon-list d-flex">
                <i class="ri-calendar-todo-line" style="color: #e80368;"></i>
                <a href="#" class="badge"><span>Ipsum Rerum Explicabo</span></a>
              </div>
            </div><!-- End Icon List Item-->

            <div class="col-md-6">
              <div class="icon-list d-flex">
                <i class="ri-paint-brush-line" style="color: #e361ff;"></i>
                <a href="#" class="badge"><span>Easy Cart Features</span></a>
              </div>
            </div><!-- End Icon List Item-->

            <div class="col-md-6">
              <div class="icon-list d-flex">
                <i class="ri-database-2-line" style="color: #47aeff;"></i>
                <a href="#" class="badge"><span>Easy Cart Features</span></a>
              </div>
            </div><!-- End Icon List Item-->

            <div class="col-md-6">
              <div class="icon-list d-flex">
                <i class="ri-gradienter-line" style="color: #ffa76e;"></i>
                <a href="#" class="badge"><span>Sit amet consectetur adipisicing</span></a>
              </div>
            </div><!-- End Icon List Item-->

            <div class="col-md-6">
              <div class="icon-list d-flex">
                <i class="ri-file-list-3-line" style="color: #11dbcf;"></i>
                <a href="#" class="badge"><span>Ipsum Rerum Explicabo</span></a>
              </div>
            </div><!-- End Icon List Item-->

            <div class="col-md-6">
              <div class="icon-list d-flex">
                <i class="ri-base-station-line" style="color: #ff5828;"></i>
                <a href="#" class="badge"><span>Easy Cart Features</span></a>
              </div>
            </div><!-- End Icon List Item--> {% endcomment %}

          </div>
        </div>
        <div class="col-lg-3" data-aos="fade-up" data-aos-delay="100">
          <h3>Banner</h3>
          <div class="col-md-12 slides position-relative">
            <div class="slides-1 swiper">
              <div class="swiper-wrapper">
                {% for i in banner %}
                <div class="swiper-slide">
                  <div class="item">
                    <a href="{{ i.link }}"><img src="/media/{{ i.file_path }}" width="300" height="450" alt=""></a>
                  </div>
                </div><!-- End slide item -->
                {% endfor %}
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Features Section -->
  {% endif %}

  {% if photogallery%}
  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>Gallery Foto</h2>
      </div>
      <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry"
        data-portfolio-sort="original-order">

        {% comment %} <ul class="portfolio-flters" data-aos="fade-up" data-aos-delay="100">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-app">App</li>
          <li data-filter=".filter-product">Product</li>
          <li data-filter=".filter-branding">Branding</li>
          <li data-filter=".filter-books">Books</li>
        </ul><!-- End Portfolio Filters --> {% endcomment %}

        <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="300">
          {% for i in photogallery|slice:":9" %}
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="/media/{{ i.file_path }}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>{{ i.title }}</h4>
              <a href="/media/{{ i.file_path }}" title="App 1" data-gallery="portfolio-gallery-app"
                class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              {% comment %} <a href="portfolio-details.html" title="More Details" class="details-link"><i
                  class="bi bi-link-45deg"></i></a> {% endcomment %}
            </div>
          </div><!-- End Portfolio Item -->
          {% endfor %}
        </div><!-- End Portfolio Container -->

      </div>

    </div>
  </section><!-- End Portfolio Section -->
  {% endif %}

  {% if videogallery %}
  <!-- ======= Our Services Section ======= -->
  <section id="services-list" class="services-list">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>Gallery Video</h2>
      </div>
      <div class="row gy-5">
        {% for i in videogallery|slice:":6" %}
        <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
          <div>
            <iframe width="300" height="200" src="{{ i.embed_video|safe }}" title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen></iframe>
            <p class="description">{{ i.created_at }}</p>
            <h4 class="title"><a href="{{ i.embed_video|safe }}"
                class="glightbox btn-watch-video d-flex align-items-center">{{ i.title }}</a></h4>
          </div>
        </div>
        <!-- End Service Item -->
        {% endfor %}
      </div>
    </div>
  </section><!-- End Our Services Section -->
  {% endif %}
</main><!-- End #main -->

{% endblock %}