<!-- Loopple Templates: https://www.loopple.com/templates | Copyright Loopple (https://www.loopple.com) | This copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hospital Landing Page</title>
    {% include 'corporate/loopple-hospital/snippets/style.html' %}    
</head>

<body>
    {% include 'corporate/loopple-hospital/snippets/nav.html' %}    
    {% block content %}{% endblock %}
    {% include 'corporate/loopple-hospital/snippets/footer.html' %}
    {% include 'corporate/loopple-hospital/snippets/script.html' %}
</body>
