{% extends "villa/direngine/base.html" %}
{% load static %}

{% block content %}
    {% block hero-image %}{% endblock %}

    {% if whyus %}
        {% block why-us %}{% endblock %}
    {% endif %}
  
    {% block fasilities %}{% endblock %}

    {% block gallery %}{% endblock %}

    {% block calendar %}{% endblock %}

  <!-- <section class="ftco-section bg-light">
      <div class="container">
              <div class="row justify-content-start mb-5 pb-3">
        <div class="col-md-7 heading-section ftco-animate">
            <span class="subheading">Special Offers</span>
          <h2 class="mb-4"><strong>Top</strong> Tour Packages</h2>
        </div>
      </div>    		
      </div>
      <div class="container-fluid">
          <div class="row">
              <div class="col-sm col-md-6 col-lg ftco-animate">
                  <div class="destination">
                      <a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(images/destination-1.jpg);">
                          <div class="icon d-flex justify-content-center align-items-center">
                              <span class="icon-search2"></span>
                          </div>
                      </a>
                      <div class="text p-3">
                          <div class="d-flex">
                              <div class="one">
                                  <h3><a href="#">Paris, Italy</a></h3>
                                  <p class="rate">
                                      <i class="icon-star"></i>
                                      <i class="icon-star"></i>
                                      <i class="icon-star"></i>
                                      <i class="icon-star"></i>
                                      <i class="icon-star-o"></i>
                                      <span>8 Rating</span>
                                  </p>
                              </div>
                              <div class="two">
                                  <span class="price">$200</span>
                              </div>
                          </div>
                          <p>Far far away, behind the word mountains, far from the countries</p>
                          <p class="days"><span>2 days 3 nights</span></p>
                          <hr>
                          <p class="bottom-area d-flex">
                              <span><i class="icon-map-o"></i> San Franciso, CA</span> 
                              <span class="ml-auto"><a href="#">Discover</a></span>
                          </p>
                      </div>
                  </div>
              </div>
              <div class="col-sm col-md-6 col-lg ftco-animate">
                  <div class="destination">
                      <a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(images/destination-2.jpg);">
                          <div class="icon d-flex justify-content-center align-items-center">
                              <span class="icon-search2"></span>
                          </div>
                      </a>
                      <div class="text p-3">
                          <div class="d-flex">
                              <div class="one">
                                  <h3><a href="#">Paris, Italy</a></h3>
                                  <p class="rate">
                                      <i class="icon-star"></i>
                                      <i class="icon-star"></i>
                                      <i class="icon-star"></i>
                                      <i class="icon-star"></i>
                                      <i class="icon-star-o"></i>
                                      <span>8 Rating</span>
                                  </p>
                              </div>
                              <div class="two">
                                  <span class="price">$200</span>
                              </div>
                          </div>
                          <p>Far far away, behind the word mountains, far from the countries</p>
                          <p class="days"><span>2 days 3 nights</span></p>
                          <hr>
                          <p class="bottom-area d-flex">
                              <span><i class="icon-map-o"></i> San Franciso, CA</span> 
                              <span class="ml-auto"><a href="#">Discover</a></span>
                          </p>
                      </div>
                  </div>
              </div>
              <div class="col-sm col-md-6 col-lg ftco-animate">
                  <div class="destination">
                      <a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(images/destination-3.jpg);">
                          <div class="icon d-flex justify-content-center align-items-center">
                              <span class="icon-search2"></span>
                          </div>
                      </a>
                      <div class="text p-3">
                          <div class="d-flex">
                              <div class="one">
                                  <h3><a href="#">Paris, Italy</a></h3>
                                  <p class="rate">
                                      <i class="icon-star"></i>
                                      <i class="icon-star"></i>
                                      <i class="icon-star"></i>
                                      <i class="icon-star"></i>
                                      <i class="icon-star-o"></i>
                                      <span>8 Rating</span>
                                  </p>
                              </div>
                              <div class="two">
                                  <span class="price">$200</span>
                              </div>
                          </div>
                          <p>Far far away, behind the word mountains, far from the countries</p>
                          <p class="days"><span>2 days 3 nights</span></p>
                          <hr>
                          <p class="bottom-area d-flex">
                              <span><i class="icon-map-o"></i> San Franciso, CA</span> 
                              <span class="ml-auto"><a href="#">Discover</a></span>
                          </p>
                      </div>
                  </div>
              </div>
              <div class="col-sm col-md-6 col-lg ftco-animate">
                  <div class="destination">
                      <a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(images/destination-4.jpg);">
                          <div class="icon d-flex justify-content-center align-items-center">
                              <span class="icon-search2"></span>
                          </div>
                      </a>
                      <div class="text p-3">
                          <div class="d-flex">
                              <div class="one">
                                  <h3><a href="#">Paris, Italy</a></h3>
                                  <p class="rate">
                                      <i class="icon-star"></i>
                                      <i class="icon-star"></i>
                                      <i class="icon-star"></i>
                                      <i class="icon-star"></i>
                                      <i class="icon-star-o"></i>
                                      <span>8 Rating</span>
                                  </p>
                              </div>
                              <div class="two">
                                  <span class="price">$200</span>
                              </div>
                          </div>
                          <p>Far far away, behind the word mountains, far from the countries</p>
                          <p class="days"><span>2 days 3 nights</span></p>
                          <hr>
                          <p class="bottom-area d-flex">
                              <span><i class="icon-map-o"></i> San Franciso, CA</span> 
                              <span class="ml-auto"><a href="#">Discover</a></span>
                          </p>
                      </div>
                  </div>
              </div>
              <div class="col-sm col-md-6 col-lg ftco-animate">
                  <div class="destination">
                      <a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(images/destination-5.jpg);">
                          <div class="icon d-flex justify-content-center align-items-center">
                              <span class="icon-search2"></span>
                          </div>
                      </a>
                      <div class="text p-3">
                          <div class="d-flex">
                              <div class="one">
                                  <h3><a href="#">Paris, Italy</a></h3>
                                  <p class="rate">
                                      <i class="icon-star"></i>
                                      <i class="icon-star"></i>
                                      <i class="icon-star"></i>
                                      <i class="icon-star"></i>
                                      <i class="icon-star-o"></i>
                                      <span>8 Rating</span>
                                  </p>
                              </div>
                              <div class="two">
                                  <span class="price">$200</span>
                              </div>
                          </div>
                          <p>Far far away, behind the word mountains, far from the countries</p>
                          <p class="days"><span>2 days 3 nights</span></p>
                          <hr>
                          <p class="bottom-area d-flex">
                              <span><i class="icon-map-o"></i> San Franciso, CA</span> 
                              <span class="ml-auto"><a href="#">Discover</a></span>
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section> -->

  <!-- <section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(images/bg_1.jpg);">
      <div class="container">
          <div class="row justify-content-center mb-5 pb-3">
        <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
          <h2 class="mb-4">Some fun facts</h2>
          <span class="subheading">More than 100,000 websites hosted</span>
        </div>
      </div>
          <div class="row justify-content-center">
              <div class="col-md-10">
                  <div class="row">
                <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                  <div class="block-18 text-center">
                    <div class="text">
                      <strong class="number" data-number="100000">0</strong>
                      <span>Happy Customers</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                  <div class="block-18 text-center">
                    <div class="text">
                      <strong class="number" data-number="40000">0</strong>
                      <span>Destination Places</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                  <div class="block-18 text-center">
                    <div class="text">
                      <strong class="number" data-number="87000">0</strong>
                      <span>Hotels</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                  <div class="block-18 text-center">
                    <div class="text">
                      <strong class="number" data-number="56400">0</strong>
                      <span>Restaurant</span>
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
      </div>
  </section> -->


    {% block special-offers %}{% endblock %}

    {% block testimony %}{% endblock %}

  <!-- <section class="ftco-section">
      <div class="container">
              <div class="row justify-content-start mb-5 pb-3">
        <div class="col-md-7 heading-section ftco-animate">
            <span class="subheading">Special Offers</span>
          <h2 class="mb-4"><strong>Popular</strong> Restaurants</h2>
        </div>
      </div>    		
          <div class="row">
              <div class="col-md-6 col-lg-3 ftco-animate">
                  <div class="destination">
                      <a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(images/restaurant-1.jpg);">
                          <div class="icon d-flex justify-content-center align-items-center">
                              <span class="icon-search2"></span>
                          </div>
                      </a>
                      <div class="text p-3">
                          <h3><a href="#">Luxury Restaurant</a></h3>
                          <p class="rate">
                              <i class="icon-star"></i>
                              <i class="icon-star"></i>
                              <i class="icon-star"></i>
                              <i class="icon-star"></i>
                              <i class="icon-star-o"></i>
                              <span>8 Rating</span>
                          </p>
                          <p>Far far away, behind the word mountains, far from the countries</p>
                          <hr>
                          <p class="bottom-area d-flex">
                              <span><i class="icon-map-o"></i> San Franciso, CA</span> 
                              <span class="ml-auto"><a href="#">Discover</a></span>
                          </p>
                      </div>
                  </div>
              </div>
              <div class="col-md-6 col-lg-3 ftco-animate">
                  <div class="destination">
                      <a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(images/restaurant-2.jpg);">
                          <div class="icon d-flex justify-content-center align-items-center">
                              <span class="icon-search2"></span>
                          </div>
                      </a>
                      <div class="text p-3">
                          <h3><a href="#">Luxury Restaurant</a></h3>
                          <p class="rate">
                              <i class="icon-star"></i>
                              <i class="icon-star"></i>
                              <i class="icon-star"></i>
                              <i class="icon-star"></i>
                              <i class="icon-star-o"></i>
                              <span>8 Rating</span>
                          </p>
                          <p>Far far away, behind the word mountains, far from the countries</p>
                          <hr>
                          <p class="bottom-area d-flex">
                              <span><i class="icon-map-o"></i> San Franciso, CA</span> 
                              <span class="ml-auto"><a href="#">Book Now</a></span>
                          </p>
                      </div>
                  </div>
              </div>
              <div class="col-md-6 col-lg-3 ftco-animate">
                  <div class="destination">
                      <a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(images/restaurant-3.jpg);">
                          <div class="icon d-flex justify-content-center align-items-center">
                              <span class="icon-search2"></span>
                          </div>
                      </a>
                      <div class="text p-3">
                          <h3><a href="#">Luxury Restaurant</a></h3>
                          <p class="rate">
                              <i class="icon-star"></i>
                              <i class="icon-star"></i>
                              <i class="icon-star"></i>
                              <i class="icon-star"></i>
                              <i class="icon-star-o"></i>
                              <span>8 Rating</span>
                          </p>
                          <p>Far far away, behind the word mountains, far from the countries</p>
                          <hr>
                          <p class="bottom-area d-flex">
                              <span><i class="icon-map-o"></i> San Franciso, CA</span> 
                              <span class="ml-auto"><a href="#">Book Now</a></span>
                          </p>
                      </div>
                  </div>
              </div>
              <div class="col-md-6 col-lg-3 ftco-animate">
                  <div class="destination">
                      <a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(images/restaurant-4.jpg);">
                          <div class="icon d-flex justify-content-center align-items-center">
                              <span class="icon-search2"></span>
                          </div>
                      </a>
                      <div class="text p-3">
                          <h3><a href="#">Luxury Restaurant</a></h3>
                          <p class="rate">
                              <i class="icon-star"></i>
                              <i class="icon-star"></i>
                              <i class="icon-star"></i>
                              <i class="icon-star"></i>
                              <i class="icon-star-o"></i>
                              <span>8 Rating</span>
                          </p>
                          <p>Far far away, behind the word mountains, far from the countries</p>
                          <hr>
                          <p class="bottom-area d-flex">
                              <span><i class="icon-map-o"></i> San Franciso, CA</span> 
                              <span class="ml-auto"><a href="#">Book Now</a></span>
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section> -->

  {% block article %}{% endblock %}

      
  <section class="ftco-section-parallax">
    <div class="parallax-img d-flex align-items-center">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-md-10 text-center heading-section heading-section-white ftco-animate">
            <h2>Narvik Villa Location</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis maxime voluptatem minima architecto at debitis reprehenderit in, ullam magnam iure similique vero nostrum eligendi nisi culpa numquam labore molestias reiciendis!</p>
            <div class="row d-flex justify-content-center mt-5">
                <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3946.1989486323905!2d116.05216899999998!3d-8.480027000000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zOMKwMjgnNDguMSJTIDExNsKwMDMnMDcuOCJF!5e0!3m2!1sid!2sid!4v1677367144831!5m2!1sid!2sid" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              <!-- <div class="col-md-8">
                <form action="#" class="subscribe-form">
                  <div class="form-group d-flex">
                    <input type="text" class="form-control" placeholder="Enter email address">
                    <input type="submit" value="Subscribe" class="submit px-3">
                  </div>
                </form>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}