{% extends "allauth/base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block header %}
    <div id="logo-group">
        <span id="logo"> <img src="{% static 'backend/smart-admin-2/img/logo.png' %}" alt="SmartAdmin"> 

        <!-- <div class="pull-right"> -->
            <!-- <button class="btn btn-primary pull-right">
                Sign Up
            </button> -->
        <!-- </div> -->
            
        </span>                
    </div>
    
    <span id="extr-page-header-space"> 
        <span class="hidden-mobile hiddex-xs">{% trans "Create an Account" %}?</span> 
        <a href="{% url 'account_signup' %}" class="btn btn-danger">{% trans "Sign Up" %}</a> </span>
    
    

    <!-- <span id="extr-page-header-space"> <span class="hidden-mobile hiddex-xs">Need an account?</span> <a href="register.html" class="btn btn-danger">Create account</a> </span> -->
{% endblock %}

{% block content %}
	<!-- MAIN CONTENT -->
    <div id="content" class="container">

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
                {% include "allauth/snippets/login_info.html" %}
                
            </div>
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                {% comment %}
                    {% get_providers as socialaccount_providers %}
                        {% if socialaccount_providers %}
                            <h5 class="text-center"> - {% trans "Sign in using" %} -</h5>
                            <ul class="list-inline text-center">
                                {% include "socialaccount/snippets/provider_list.html" with process="login" %}                
                            </ul>
                                <!-- <ul class="list-inline text-center">
                                    <li>
                                        <a href="javascript:void(0);" class="btn btn-primary btn-circle"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class="btn btn-info btn-circle"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class="btn btn-warning btn-circle"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                </ul> -->
                            <h5 class="text-center"> - {% trans "or" %} -</h5>
                        {% endif %}
                {% endcomment %}

                
                
                <div class="well no-padding">
                    <form method="POST" id="login-form" class="smart-form client-form">
                        {% csrf_token %}
                        {% if process == "connect" %}
                            <header>
                                {% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}
                            </header>

                            <fieldset>
                                <section>
                                    {% blocktrans with provider.name as provider %}You are about to connect a new third party account from {{ provider }}.{% endblocktrans %}
                                </section>
                            </fieldset>
                        {% else %}
                            <header>
                                {% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}
                            </header>

                            <fieldset>
                                <section>
                                    {% blocktrans with provider.name as provider %}You are about to sign in using a third party account from {{ provider }}.{% endblocktrans %}
                                </section>
                            </fieldset>

                        {% endif %}
                        <footer>
                            <button type="submit" class="btn btn-primary">
                                {% trans "Continue" %}
                            </button>
                        </footer>
                    </form>

                </div>
                
                
                
                
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_body %}
    <!-- replace href social media dengan URL website default -->

    <script>
        $(function() {
            // alert('loha');
            const queryString = window.location.search;
            // console.log(queryString);

            const urlParams = new URLSearchParams(queryString);
            const session_key = urlParams.get('s');

            //console.log(session_key);
            localStorage.setItem('session_key',session_key);
            //console.log(localStorage.getItem('session_key'));
        });

    </script>
    
{% endblock %}

{% comment %}
    {% block head_title %}{% trans "Sign In" %}{% endblock %}

    {% block content %}
    {% if process == "connect" %}
        <h1>{% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}</h1>

        <p>{% blocktrans with provider.name as provider %}You 2 are about to connect a new third party account from {{ provider }}.{% endblocktrans %}</p>
    {% else %}
        <h1>{% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}</h1>

        <p>{% blocktrans with provider.name as provider %}You 2 are about to sign in using a third party account from {{ provider }}.{% endblocktrans %}</p>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <button type="submit">{% trans "Continue" %}</button>
    </form>
    {% endblock %}
{% endcomment %}
