{% extends "allauth/base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block header %}
    <div id="logo-group">
        <span id="logo"> <img src="{% static 'backend/smart-admin-2/img/logo.png' %}" alt="SmartAdmin"> 

        <!-- <div class="pull-right"> -->
            <!-- <button class="btn btn-primary pull-right">
                Sign Up
            </button> -->
        <!-- </div> -->
            
        </span>
        
        
    </div>
    <span id="extr-page-header-space"> <span class="hidden-mobile hiddex-xs">{% trans "Create an Account" %}?</span> <a href="login.html" class="btn btn-danger">{% trans "Sign Up" %}</a> </span>
    
    

    <!-- <span id="extr-page-header-space"> <span class="hidden-mobile hiddex-xs">Need an account?</span> <a href="register.html" class="btn btn-danger">Create account</a> </span> -->
{% endblock %}

{% block content %}
	<!-- MAIN CONTENT -->
    <div id="content" class="container">

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
                {% include "allauth/snippets/login_info.html" %}

            </div>
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">                        
                <div class="well no-padding">
                    <form method="POST" id="signup_form" class="smart-form client-form" action="{% url 'socialaccount_signup' %}">
                        {% csrf_token %}
                        
                            <header>
                                {% trans "Login Cancelled" %}
                            </header>

                            <fieldset>
                                
                                
                                <section>
                                    {% url 'account_login' as login_url %}

                                    <p>{% blocktrans %}You decided to cancel logging in to our site using one of your existing accounts. If this was a mistake, please proceed to <a href="{{login_url}}">sign in</a>.{% endblocktrans %}</p>
                                </section>
                                
                            </fieldset>

                       
                        <footer>
                            <a href="{{login_url}}" class="btn btn-primary">{% trans "Sign in" %}</a>
                            <!-- <button type="submit" class="btn btn-primary">
                                {% trans "Sign Up" %} &raquo;
                            </button> -->
                        </footer>
                    </form>

                </div>
                
                
                
                
            </div>
        </div>
    </div>
{% endblock %}

{% comment %}



{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Login Cancelled" %}{% endblock %}

{% block content %}

<h1>{% trans "Login Cancelled" %}</h1>

{% url 'account_login' as login_url %}

<p>{% blocktrans %}You decided to cancel logging in to our site using one of your existing accounts. If this was a mistake, please proceed to <a href="{{login_url}}">sign in</a>.{% endblocktrans %}</p>

{% endblock %}

{% endcomment %}
