{% extends "account/base-dashboard.html" %}

{% load static %}

{% block content %}
    <!-- MAIN PANEL -->
    <div id="main" role="main">

        <!-- RIBBON -->
        <div id="ribbon">

            <span class="ribbon-button-alignment"> 
                <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
                    <i class="fa fa-refresh"></i>
                </span> 
            </span>

            <!-- breadcrumb -->
            <ol class="breadcrumb">   
                <li>Ganti Password {{ user.username|default:'Guest'|title }} <!--</li><li>Miscellaneous</li><li>Blank Page</li>-->
            </ol>
            <!-- end breadcrumb -->

            <!-- You can also add more buttons to the
            ribbon for further usability

            Example below:

            <span class="ribbon-button-alignment pull-right">
            <span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
            <span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
            <span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
            </span> -->

        </div>
        <!-- END RIBBON -->

        <!-- MAIN CONTENT -->
        <div id="content">

            <!-- row -->
            <div class="row">
                
                <!-- col -->
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
                    <h1 class="page-title txt-color-blueDark">
                        
                        <!-- PAGE HEADER -->
                        <i class="fa-fw fa fa-lock"></i> 
                            Password Change
                        <!--<span>>  
                            Change
                        </span>-->
                    </h1>
                </div>
                <!-- end col -->
                
                <!-- right side of the page with the sparkline graphs -->

                <!-- Posisi inline graph -->
                
            </div>
            <!-- end row -->
            
            <!--
                The ID "widget-grid" will start to initialize all widgets below 
                You do not need to use widgets if you dont want to. Simply remove 
                the <section></section> and you can use wells or panels instead 
                -->
            
            <!-- widget grid -->
            <section id="widget-grid" class="">
            
                <!-- row -->
                <div class="row">
                    
                    <!-- NEW WIDGET START -->
                    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        
                        <!-- Widget ID (each widget will need unique ID)-->
                        <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false"	>
                            <!-- widget options:
                                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
                                
                                data-widget-colorbutton="false"	
                                data-widget-editbutton="false"
                                data-widget-togglebutton="false"
                                data-widget-deletebutton="false"
                                data-widget-fullscreenbutton="false"
                                data-widget-custombutton="false"
                                data-widget-collapsed="true" 
                                data-widget-sortable="false"
                                
                            -->
                            <header class="">
                                <span class="widget-icon"> <i class="fa fa-lock"></i> </span>
                                <h2>Password Change </h2>				
                                
                            </header>
            
                            <!-- widget div-->
                            <div>
                                
                                <!-- widget edit box -->
                                <div class="jarviswidget-editbox">
                                    <!-- This area used as dropdown edit box -->
                                    <input class="form-control" type="text">	
                                </div>
                                <!-- end widget edit box -->
                                
                                <!-- widget content -->
                                <div class="widget-body">
                                    
                                    <!-- this is what the user will see -{{ form.as_p }}-->
                                    <form method="post" class="form-horizontal">
                                        {% csrf_token %}
                                        {% if form.errors %}
                                            <p>Your username and password didn't match. Please try again.</p>
                                        {% endif %}
                                        <fieldset>
                                            <!--<legend>Nama Badan Usaha</legend>												-->

											<!--<div style="margin-left:30px;">		-->
                                                <div class="form-group">
                                                    <div class="row">
                                                        <label class="control-label col-md-3">{{form.old_password.label}}</label>
                                                        <div class="col-md-6">
                                                            
                                                                <div class="col-sm-10">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon"><i class="icon-prepend glyphicon  glyphicon-lock"></i></span>
                                                                        <!--<input class="form-control"  placeholder="Nama Badan / Merk Usaha" type="text">-->
                                                                        {{form.old_password}}
                                                                    </div>
                                                                </div>
                                                            
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="row">
                                                        <label class="control-label col-md-3">{{form.new_password1.label}}</label>
                                                        <div class="col-md-6">
                                                            
                                                                <div class="col-sm-10">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon"><i class="icon-prepend glyphicon  glyphicon-lock"></i></span>
                                                                        {{form.new_password1}}
                                                                    </div>
                                                                </div>
                                                            
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="row">
                                                        <label class="control-label col-md-3">{{form.new_password2.label}}</label>
                                                        <div class="col-md-6">
                                                            
                                                                <div class="col-sm-10">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon"><i class="icon-prepend glyphicon  glyphicon-lock"></i></span>                                                                
                                                                        {{form.new_password2}}
                                                                    </div>
                                                                </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            <!--</div>-->
                                        
                                        </fieldset>
                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <!-- <button class="btn btn-default" type="submit">
                                                        Cancel
                                                    </button>
                                                    <button class="btn btn-primary" type="submit" value="Change">
                                                        <i class="fa fa-save"></i>
                                                        Submit
                                                    </button> -->
                                                    <button class="btn btn-primary" type="submit" value="save" name="proses">                                                                								
                                                        <i class="icon-prepend fa fa-save"></i> simpan
                                                    </button>
                                                    <!--<button class="btn btn-success" type="submit" value="save_add_new" name="proses">                                                                								
                                                        <i class="icon-prepend fa fa-save"></i> simpan & input baru
                                                    </button>							-->
                                                    <button class="btn btn-secondary" type="submit" id="cancel-btn" value="cancel" name="proses">
                                                        <i class="icon-prepend fa fa-ban"></i> batal                                                           
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <!--<input type="submit" value="Change">-->
                                    </form>

                                </div>
                                <!-- end widget content -->
                                
                            </div>
                            <!-- end widget div -->
                            
                        </div>
                        <!-- end widget -->
            
                    </article>
                    <!-- WIDGET END -->
                    
                </div>
            
                <!-- end row -->
            
                <!-- row -->
            
                <div class="row">
            
                    <!-- a blank row to get started -->
                    <div class="col-sm-12">
                        <!-- your contents here -->
                    </div>
                        
                </div>
            
                <!-- end row -->
            
            </section>
            <!-- end widget grid -->

        </div>
        <!-- END MAIN CONTENT -->

    </div>
    <!-- END MAIN PANEL -->
{% endblock %}

{% block jquery-doc-ready %}
    $("#cancel-btn").click(function (event) {
        
        if (confirm("Batal ubah password?")) { 
            event.preventDefault();        
            window.location.replace('/dashboard/dashboard');
        }       
        
              
    });

{% endblock %}