{% extends "registration/base.html" %}
{% load static %}

{% block sub-content %}
    <div id="content" class="container">

        <div class="row">
            <div class="col">
                &nbsp;
            </div>
            <div class="col">
                &nbsp;
            </div>

            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm" >
                &nbsp;                                
                <h1 class="txt-color-red login-header-big">Reset Password</h1>
                <div class="hero">

                    <div class="pull-left login-desc-box-l">
                        <h4 class="paragraph-header">Silahkan Gunakan Password Baru Anda</h4>
                        <!--<div class="login-app-icons">
                            <a href="javascript:void(0);" class="btn btn-danger btn-sm">Frontend Template</a>
                            <a href="javascript:void(0);" class="btn btn-danger btn-sm">Find out more</a> 
                        </div> -->
                    </div>
                    
                    

                </div>

                <!--
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h5 class="about-heading">About SmartAdmin - Are you up to date?</h5>
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h5 class="about-heading">Not just your average template!</h5>
                        <p>
                            Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi voluptatem accusantium!
                        </p>
                    </div>
                </div> -->

            </div>
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                <div class="well no-padding">
                    <form method="post" id="login-form" class="smart-form client-form"> <!--action="index.html"-->
                        {% csrf_token %}
                        <header>
                            Password Reset Complete
                        </header>

                        <fieldset>
                            
                                                    
                            <section>
                                <h2>Password Reset Complete</h2>
                                <p>Your password has been set. You may go ahead and log in now.</p>                                    
                            </section>

                            <section>
                                
                                    <i class="fa fa-user"></i> <a href="/account/login"> Login</a>    
                                
                            </section>

                            <!--
                            <section>
                                <label class="label">{{form.password.label}}</label>
                                <label class="input"> <i class="icon-append fa fa-lock"></i>
                                    
                                    {{form.password}}
                                    <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Silahkan masukkan password</b> </label>
                                <div class="note">
                                    <a href="/account/password_reset">Forgot password?</a>
                                </div>
                            </section>

                            <section>
                                <label class="checkbox">
                                    <input type="checkbox" name="remember" checked="">
                                    <i></i>Stay signed in</label>
                            </section>
                            -->
                        </fieldset>
                        <!--<footer>
                            
                            <button type="submit" class="btn btn-primary">
                                Send
                            </button>
                        </footer>-->
                    </form>

                </div>
                
                <!--
                <h5 class="text-center"> - Or sign in using -</h5>
                                                    
                    <ul class="list-inline text-center">
                        <li>
                            <a href="javascript:void(0);" class="btn btn-primary btn-circle"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="btn btn-info btn-circle"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="btn btn-warning btn-circle"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                -->
            </div>
        </div>
    </div>

{% endblock %}